<% set_title_and_breadcrumb t('page.edit', :title => @page.title) %>

<h1><%= @page.title %></h1>

<%= form_for :page,  :url => admin_page_path(@page.id), :html => {:method => :put, :id => "admin-form"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end  %>
