#data-submit { float: none; margin-top: 15px; }
#attachments { width: 698px; overflow: hidden; margin: 0 0 15px 0;
    ul { margin-left: 1em; }
    li { padding-bottom: 10px; }
}

.attachment { float: left; clear:left;
    .icon { float: right; }

}